<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Form Information</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }


    h1,
    h2 {
        color: white;
    }

    .mb {
        margin-bottom: 10%;
    }

    /*Header*/

    .nav-masthead .nav-link {
        padding: .25rem 0;
        font-weight: 700;
        color: rgba(255, 255, 255, .5);
        background-color: transparent;
        border-bottom: .25rem solid transparent;
    }

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link+.nav-link {
        margin-left: 1rem;

    }

    .nav-masthead .active {
        color: white;
        border-bottom-color: white;

    }

    .btone {
        position: relative;
        top: 50px;
        display: block;
        padding: 11px 13px;
        text-align: center;
        text-decoration: none;
        color: cadetblue;
        background-color: lightblue;
        margin: auto;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 15px;
    }

    .btone {
        width: 46%;
        line-height: 2em;
        margin: auto;
        text-align: center;
        text-decoration: none;
        border-radius: 8px;
    }

    .btone:hover {
        color: steelblue;
        background: powderblue;
    }
</style>

<body class="bg-dark text-center text-white">
    <!-- Header -->
    <div class="d-flex w-100 h-100 p-3 mx-auto text-white flex-column">
        <header class="mb-10">
            <div>
                <h3 class="float-md-start mb-0">Check-In</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="admin_list_return">Back</a>
                    <a class="nav-link" aria-current="page" href="home_return">logout</a>
                    <a class="nav-link" href="userinfo.html">Profile</a>
                </nav>
            </div>
        </header> <br>
        <center>
            <form action="addQuestion" method="post">
<script>
    var qTotal=0;
    var nextQ=1;
    var totalNext=0;
    var current=0;
    var apperance = [];
</script>
                <%total.forEach((item)=>{%>
                    <script>
                        apperance.push('<%=item.ID%>')         
                    </script>
                    <%});%>
                    <%questions.forEach((item)=>{%>
                        <script>
                            nextQ=<%=item.Q_apperance%>        
                        </script>
                        <%});%>
                    <script>
                        for (var i = 0; i < apperance.length; i++) {
                            qTotal++;
                        }
                      
                            nextQ+=1
                            
                        
                    </script>
<script>
    totalNext=qTotal+1;
    document.write('<input type="text" name= "questionTotal" value="'+qTotal+'" style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">');
    document.write('<input type="text" name= "nextQ" value="'+nextQ+'" style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">');
</script>

                <h1>Question <%questions.forEach((item)=>{%><%=item.Q_apperance%>
                            <%});%>
                </h1>
                <%questions.forEach((item)=>{%>
                    <input type="text" name="date" value="<%=item.Date%>"
                        style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">

                    <%});%>
                        <%form.forEach((item)=>{%>

                            <input type="text" name="name" value="<%=item.ID%>"
                                style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">

                            <%});%>
                                <%questions.forEach((item)=>{%>
                                    <table>
                                        <input type="text" name="qCurrent" value="<%=item.Q_apperance%>"
                                            style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">
                                        <tr>
                                            <th>Question Apperance </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select name="qNumber" id="qNumber" onchange="questionNumber()"
                                                    style="background: none; border: none; color: white;">
                                                    <option name="current" value="<%=item.Q_apperance%>">Current (<%=item.Q_apperance%>)
                                                    </option>
                                                    <script>
                                                        for (var d = 1; d <= qTotal; d++) {
                                                            document.write("<option value="+d+">" + d + "</option>");
                                                        }
                                                    </script>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>

                                            <th>Question Type</th>


                                        </tr>
                                        <tr>
                                            <td><select name="qType" id="qType" onchange="typeSelection()"
                                                    default="<%=item.Qone_type%>"
                                                    style="background: none; border:none; color: white;">
                                                    <option name="current" value="<%=item.Qone_type%>">Current (<%=item.Qone_type%>)</option>
                                                    <option value="text" id="text">Text</option>
                                                    <option value="radio" id="radio">Radio</option>
                                                </select></td>
                                        <tr>

                                            <th>Question Content</th>


                                        </tr>
                                        <tr>
                                            <td> <textarea name="qContent" class="form-control"
                                                    id="exampleFormControlTextarea1" rows="3"
                                                    style="width: 200%;"><%=item.Qone_content%></textarea></td>

                                        </tr>
                                        <%});%>
                                        <tr>
                                            <th id="imageHeader"></th>
                                        </tr>
                                        <tr>
                                            <td id="imageUpload">
                                            </td>
                                        </tr>

                                        <tr>
                                            <th id="radioNumHeader"></th>
                                        </tr>
                                        <tr>
                                            <td id="radioNum">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th id="radioResOneH"></th>
                                        </tr>
                                        <tr>
                                            <td id="radioResOne">
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <th id="radioResTwoH"></th>
                                        </tr>
                                        <tr>
                                            <td id="radioResTwo">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th id="radioResThreeH"></th>
                                        </tr>
                                        <tr>
                                            <td id="radioResThree">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th id="radioResFourH"></th>
                                        </tr>
                                        <tr>
                                            <td id="radioResFour">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th id="radioResFiveH"></th>
                                        </tr>
                                        <tr>
                                            <td id="radioResFive">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th id="radioResSixH"></th>
                                        </tr>
                                        <tr>
                                            <td id="radioResSix">
                                            </td>
                                        </tr>

                                    </table>
                                
                                        <!-- load previous radial info if selected -->
                                        <%questions.forEach((item)=>{%>
                                            <script>
                                                if (qType.value == "radio") {
                                                    var radioNum;
                                                    rad1 = '<%=item.Radioone%>';
                                                   rad2 = '<%=item.Radiotwo%>';
                                                   rad3 = '<%=item.Radiothree%>';
                                                    rad4 ='<%=item.Radiofour%>';
                                                   rad5 = '<%=item.Radiofive%>';
                                                  rad6 =  '<%=item.RadioSix%>';
                                                    var radioNumHeader = 'Select Number of Radios';
                                            
                                                    
                                                    
                                                    var amount2;
                                                    if(rad6 !=''){
                                                    amount2='6';
                                                    var radioNum = '<select name="radioNumber" id="radioNumber"value="6"onchange="radioNum()" style="background: none; border:none; color:white;">  <option name="current" value="'+amount2+'">Current ('+amount2+')</option> <option value="2"name="2"id="2">2</option> <option value="3"name="3"id="3">3</option> <option value="4"name="4"id="4">4</option> <option value="5"name="5"id="5">5</option> <option value="6"name="6"id="6">6</option></select>';
                                                 
                                                    }else if(rad5 != ''){
                                                        amount2='5';
                                                    var radioNum = '<select name="radioNumber" id="radioNumber"value="5"onchange="radioNum()" style="background: none; border:none; color:white;"> <option name="current" value="'+amount2+'">Current ('+amount2+')</option>   <option value="2"name="2"id="2">2</option> <option value="3"name="3"id="3">3</option> <option value="4"name="4"id="4">4</option> <option value="5"name="5"id="5">5</option> <option value="6"name="6"id="6">6</option></select>';
                                                 
                                                    }else if(rad4 !=''){
                                                        amount2='4';
                                                    var radioNum = '<select name="radioNumber" id="radioNumber"value="4"onchange="radioNum()" style="background: none; border:none; color:white;">  <option name="current" value="'+amount2+'">Current ('+amount2+')</option>  <option value="2"name="2"id="2">2</option> <option value="3"name="3"id="3">3</option> <option value="4"name="4"id="4">4</option> <option value="5"name="5"id="5">5</option> <option value="6"name="6"id="6">6</option></select>';
                                                 
                                                    }else if(rad3 !=''){
                                                        amount2='3';
                                                    var radioNum = '<select name="radioNumber" id="radioNumber"value="3"onchange="radioNum()" style="background: none; border:none; color:white;">  <option name="current" value="'+amount2+'">Current ('+amount2+')</option>  <option value="2"name="2"id="2">2</option> <option value="3"name="3"id="3">3</option> <option value="4"name="4"id="4">4</option> <option value="5"name="5"id="5">5</option> <option value="6"name="6"id="6">6</option></select>';
                                                 
                                                    }else if(rad2 != ''){
                                                        amount2='2';
                                                    var radioNum = '<select name="radioNumber" id="radioNumber"value="2"onchange="radioNum()" style="background: none; border:none; color:white;">  <option name="current" value="'+amount2+'">Current ('+amount2+')</option>  <option value="2"name="2"id="2">2</option> <option value="3"name="3"id="3">3</option> <option value="4"name="4"id="4">4</option> <option value="5"name="5"id="5">5</option> <option value="6"name="6"id="6">6</option></select>';
                                                 
                                                    }
                                                    
                                            
                                            
                                            
                                                    
                                            
                                                    if (amount2 == "2") {
                                                        document.getElementById('radioNum').innerHTML = radioNum;
                                                        document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                    } else if (amount2 == "3") {
                                                        document.getElementById('radioNum').innerHTML = radioNum;
                                                        document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                                    } else if (amount2 == "4") {
                                                        document.getElementById('radioNum').innerHTML = radioNum;
                                                        document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                    } else if (amount2 == "5") {
                                                        document.getElementById('radioNum').innerHTML = radioNum;
                                                        document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                        var radioFiveH = 'Radio Five Response';
                                                        var radioFive = '<textarea name="radioFive" class="form-control" id="RadioFive" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad5 +'</textarea>';
                                                        document.getElementById('radioResFiveH').innerHTML = radioFiveH;
                                                        document.getElementById('radioResFive').innerHTML = radioFive;
                                            
                                                    } else if (amount2 == "6") {
                                                        document.getElementById('radioNum').innerHTML = radioNum;
                                                        document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                        var radioFiveH = 'Radio Five Response';
                                                        var radioFive = '<textarea name="radioFive" class="form-control" id="RadioFive" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad5 +'</textarea>';
                                                        document.getElementById('radioResFiveH').innerHTML = radioFiveH;
                                                        document.getElementById('radioResFive').innerHTML = radioFive;
                                            
                                                        var radioSixH = 'Radio Six Response';
                                                        var radioSix = '<textarea name="radioSix" class="form-control" id="RadioSix" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad6 +'</textarea>';
                                                        document.getElementById('radioResSixH').innerHTML = radioSixH;
                                                        document.getElementById('radioResSix').innerHTML = radioSix;
                                            
                                                    }
                                                
                                                }
                                              
                                            </script>

                                        <script>
                                            function typeSelection() {
                                                 rad1 = '<%=item.Radioone%>';
                                                   rad2 = '<%=item.Radiotwo%>';
                                                   rad3 = '<%=item.Radiothree%>';
                                                    rad4 ='<%=item.Radiofour%>';
                                                   rad5 = '<%=item.Radiofive%>';
                                                  rad6 =  '<%=item.RadioSix%>';
                                                document.getElementById('radioResOneH').innerHTML = '';
                                                document.getElementById('radioResOne').innerHTML = '';
                                                document.getElementById('radioResTwoH').innerHTML = '';
                                                document.getElementById('radioResTwo').innerHTML = '';
                                                document.getElementById('radioResThreeH').innerHTML = '';
                                                document.getElementById('radioResThree').innerHTML = '';
                                                document.getElementById('radioResFourH').innerHTML = '';
                                                document.getElementById('radioResFour').innerHTML = '';
                                                document.getElementById('radioResFiveH').innerHTML = '';
                                                document.getElementById('radioResFive').innerHTML = '';
                                                document.getElementById('radioResSixH').innerHTML = '';
                                                document.getElementById('radioResSix').innerHTML = '';
                                                document.getElementById('imageHeader').innerHTML = '';
                                                document.getElementById('imageUpload').innerHTML = '';
                                                document.getElementById('radioNumHeader').innerHTML = '';
                                                document.getElementById('radioNum').innerHTML = '';

                                                var type;
                                                type = document.getElementById('qType').value;
                                                if (type == "image") {
                                                    var imageType = '';
                                                    imageType = '<input type="file" id="imagePrompt" name="imagePrompt">';
                                                    var imageHeader = 'Select Image File';

                                                    document.getElementById('imageHeader').innerHTML = imageHeader;
                                                    document.getElementById('imageUpload').innerHTML = imageType;
                                                }
                                                else if (type == "radio") {
                                                    var radioNum = '';
                                                    radioNum = '<select name="radioNumber" id="radioNumber"value="2"onchange="radioNum()" style="background: none; border:none; color:white;">   <option value="2"name="2"id="2">2</option> <option value="3"name="3"id="3">3</option> <option value="4"name="4"id="4">4</option> <option value="5"name="5"id="5">5</option> <option value="6"name="6"id="6">6</option></select>';
                                                    var radioNumHeader = 'Select Number of Radios';

                                                    document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                    document.getElementById('radioNum').innerHTML = radioNum;

                                                    var radioOneH = 'Radio One Response';
                                                    var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                    document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                    document.getElementById('radioResOne').innerHTML = radioOne;

                                                    var radioTwoH = 'Radio Two Response';
                                                    var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                    document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                    document.getElementById('radioResTwo').innerHTML = radioTwo;
                                                }

                                            }
                                        </script>

                                        <script>
                                            function radioNum() {
                                                rad1 = '<%=item.Radioone%>';
                                                   rad2 = '<%=item.Radiotwo%>';
                                                   rad3 = '<%=item.Radiothree%>';
                                                    rad4 ='<%=item.Radiofour%>';
                                                   rad5 = '<%=item.Radiofive%>';
                                                  rad6 =  '<%=item.RadioSix%>';
                                                document.getElementById('radioResOneH').innerHTML = '';
                                                document.getElementById('radioResOne').innerHTML = '';
                                                document.getElementById('radioResTwoH').innerHTML = '';
                                                document.getElementById('radioResTwo').innerHTML = '';
                                                document.getElementById('radioResThreeH').innerHTML = '';
                                                document.getElementById('radioResThree').innerHTML = '';
                                                document.getElementById('radioResFourH').innerHTML = '';
                                                document.getElementById('radioResFour').innerHTML = '';
                                                document.getElementById('radioResFiveH').innerHTML = '';
                                                document.getElementById('radioResFive').innerHTML = '';
                                                document.getElementById('radioResSixH').innerHTML = '';
                                                document.getElementById('radioResSix').innerHTML = '';

                                                var amount;
                                                amount = document.getElementById('radioNumber').value;

                                                if (amount == "2") {
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                    } else if (amount == "3") {
                                            
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                                    } else if (amount == "4") {
                                            
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                    } else if (amount == "5") {
                                            
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                        var radioFiveH = 'Radio Five Response';
                                                        var radioFive = '<textarea name="radioFive" class="form-control" id="RadioFive" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad5 +'</textarea>';
                                                        document.getElementById('radioResFiveH').innerHTML = radioFiveH;
                                                        document.getElementById('radioResFive').innerHTML = radioFive;
                                            
                                                    } else if (amount == "6") {
                                            
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                        var radioFiveH = 'Radio Five Response';
                                                        var radioFive = '<textarea name="radioFive" class="form-control" id="RadioFive" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad5 +'</textarea>';
                                                        document.getElementById('radioResFiveH').innerHTML = radioFiveH;
                                                        document.getElementById('radioResFive').innerHTML = radioFive;
                                            
                                                        var radioSixH = 'Radio Six Response';
                                                        var radioSix = '<textarea name="radioSix" class="form-control" id="RadioSix" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad6 +'</textarea>';
                                                        document.getElementById('radioResSixH').innerHTML = radioSixH;
                                                        document.getElementById('radioResSix').innerHTML = radioSix;
                                            
                                                    }
                                            }
                                        </script>


  <%});%>

                                        <input type="submit" name="submit" value="Return to Terminal"
                                            style="color: black; margin: 5px;"
                                            class="btn btn-lg btn-secondary fw-bold border-white bg-white"> <br>
                                            <input type="submit" name="submit" value="Delete and View Next Question"
                                            style="color: black; margin: 5px;"
                                            class="btn btn-lg btn-secondary fw-bold border-white bg-white"><br>
                                        <input type="submit" name="submit" value="Submit and Add or View Next Question"
                                            style="color: black; margin: 5px;"
                                            class="btn btn-lg btn-secondary fw-bold border-white bg-white">
            </form>
        </center>

        <!--Exit button-->

</body>

</html>