<!-- using CFquery to retrieve list of patients-->
<!--  <cfquery name="" datasource="">
                <Select> FirstName, LastName, Patient Number</Select>
                from 
                order by LastName 
             </cfquery> -->

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Form Information</title>
    <link href="public/css/List.css" rel="stylesheet">
</head>
<style>
    .btone {
        position: relative;
        top: 50px;
        display: block;
        padding: 11px 13px;
        text-align: center;
        text-decoration: none;
        color: cadetblue;
        background-color: lightblue;
        margin: auto;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 15px;
    }

    .btone {
        width: 46%;
        line-height: 2em;
        margin: auto;
        text-align: center;
        text-decoration: none;
        border-radius: 8px;

    }

    .btone:hover {
        color: steelblue;
        background: powderblue;
    }
</style>

<body>

    <center>
        <form action="formInfoChanges" method="post">
            <%user.forEach((item)=>{%>
                <h1>
                    <%=item.Fname%>
                        <%=item.Lname%>'s Form Answers
                </h1>
                <input type="text" name="name" value="<%=item.ID%>"
                    style="color: seashell; background: none; border: none; position: absolute; z-index: -1000;">
                <%});%>

                    <!-- Output table-->

                    <table id='fullTable'>
                        <tr>
                            <th>Form Name</th>
                            <th>Question Number</th>
                            <th>Question Prompt</th>
                            <th>Question Response</th>
                        </tr>
                        <script>count = 0;
                            var apperance = [];
                            var apperance2 = [];
                            var apperance3 = [];
                            var apperance4 = [];
                            var apperance5=[];
                            var apperance6=[];
                        </script>
                       
                        <%form.forEach((item)=>{%>
                            <script>
                                apperance4.push('<%=item.Name%>')
                                apperance5.push('<%=item.Name%>')
                                apperance6.push('<%=item.Name%>')
                            </script>
                            <%});%>
                    
                                <%question.forEach((item)=>{%>
                                    <script>
                                        apperance.push('<%=item.Q_apperance%>')
                                        apperance2.push('<%=item.Qone_content%>')
                                    </script>
                                    <%});%>
                                                <%data.forEach((item)=>{%>
                                                    <script>
                                                        apperance3.push('<%=item.Answer%>')
                                                    </script>
                                                    <%});%>

                    </table>


                    <%data.forEach((item)=>{%>
                        <script>for (var x of '<%=item.ID%>') {
                                if (x.ID != '') {
                                    count++;
                                }
                            }
                        </script>
                        <%});%>

                            <script>
                                var rows = '';
                                var count=0;
                                for (var i = 0; i < apperance3.length; i++) {
                                    previous =i-1;
                                    begining = apperance5.length;
                                    beginingPlus = i-begining

                                    rows = '<tr id = "row' + i + '"><td>' + apperance4[i] + '</td><td>' + apperance[i] + '</td><td>' + apperance2[i] + '</td><td>' + apperance3[i] + '</td></tr>';
                                 
                                    if(apperance[i] != "1"){  
                                        apperance4[i]=apperance4[previous];   
                                        rows = '<tr id = "row' + i + '"><td>' + apperance4[i] + '</td><td>' + apperance[i] + '</td><td>' + apperance2[i] + '</td><td>' + apperance3[i] + '</td></tr>';
                                        count++;
                                    }if(apperance[i] == "1" && apperance4[previous] != undefined && apperance5.length >3){                                        
                                        apperance4[i]=apperance5[beginingPlus]
                                       
                                        rows = '<tr id = "row' + i + '"><td>' + apperance4[i] + '</td><td>' + apperance[i] + '</td><td>' + apperance2[i] + '</td><td>' + apperance3[i] + '</td></tr>';
                                    }if(apperance[i] == "1" && apperance4[previous] != undefined && apperance4[i] == undefined &&apperance5.length <=4){                                        
                                        apperance4[i]=apperance5[previous]
                                        rows = '<tr id = "row' + i + '"><td>' + apperance4[i] + '</td><td>' + apperance[i] + '</td><td>' + apperance2[i] + '</td><td>' + apperance3[i] + '</td></tr>';
                                    }
                                    if(apperance[i] == "1" && apperance4[previous] != undefined && apperance4[i] == undefined ){                                        
                                        apperance4[i]=apperance5[count]
                                        rows = '<tr id = "row' + i + '"><td>' + apperance4[i] + '</td><td>' + apperance[i] + '</td><td>' + apperance2[i] + '</td><td>' + apperance3[i] + '</td></tr>';
                                    }
                                    
                                    document.getElementById('fullTable').innerHTML += rows;
                                    
                                }
                                var header;
                                header = '<tr id = "row"><th>Question Number</th><th>Question Prompt</th><th>Response</th></tr>';
                            </script>
        </form>
    </center>

    <!--Exit button-->
    <div class="close">
        <a href="home_return" class="closebutton" style="margin-top: 9.6em;">Back</a>
    </div>
</body>

</html>